.toggle-btn-container {
  @include flex-center(row);
  width: 80%;
  max-width: 250px;
  margin-bottom: 50px;
  color: $light-blue;

  .toggle-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    max-width: 50px;
    height: 22px;
    margin: 20px auto;
    padding: 2px;
    cursor: pointer;
    border-radius: 100px;
    @include blue-gradient;

    #btn {
      width: 50%;
      height: 100%;
      border-radius: 100px;
      background: #fff;
    }
  }
}

.card__btn {
  width: 80%;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 40px;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
  &--blue {
    @include blue-gradient;
    color: #fff;
    &:hover {
      color: hsl(237, 63%, 64%);
      border: 1px solid hsl(237, 63%, 64%);
      background: #fff;
    }
  }
  &--white {
    background: #fff;
    color: hsl(237, 63%, 64%);
    &:hover {
      border: 1px solid #fff;
      color: #fff;
      @include blue-gradient;
    }
  }
}
