// Desktop
@media screen and(min-width: 1023px) {
  body {
    background: url(../images/bg-top.svg) no-repeat top right,
      url(../images/bg-bottom.svg) no-repeat bottom left, $bg-color;
    height: 100vh;
    overflow: hidden;
  }

  .pricing {
    @include flex-center(row);
    width: 1050px;
  }
  h1 {
    margin: 30px 0;
  }

  .toggle-btn-container {
    margin-bottom: 30px;
  }
  .card-wrapper {
    max-width: 350px;

    &:nth-child(2) {
      height: 450px;
    }

    &:nth-child(2) .card__title {
      margin-top: 45px;
    }
  }
  .card {
    max-width: 400px;
  }
}
